//
// Somme minor css to get sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: color("blue-grey", "darken-4");
}

img {
  max-width: 100%;
}

main {
    flex: 1 0 auto;

    &.container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      & > .row {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
}

.listing-categorie-header {
  margin: 32px 0 16px;
  padding: 16px 0;
  border-bottom: solid 1px rgba($primary-color-light, .25);
  display: flex;
  .btn {
    margin-left: auto;
  }
}

//
// Improve listing actions buttons displaying in admin
.collection-custom {
  display: flex;
  flex-direction: row;
  align-items: center;

  .primary {
    flex-grow: 1;
  }

  .secondary {
    margin-left: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
  }

  .collection-title {
    font-size: 16px;
    opacity: .8;
    margin: 0;
    &.linked:hover {
      cursor: pointer;
      opacity: 1;
      text-decoration: underline;
    }
  }

  .collection-text {
    line-height: 140%;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .collection-date {
    font-size: 10px;
    opacity: .75;
  }

  .collection-button {
    margin-bottom: 0;
  }
}


.btn-rounded {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.prefixTitleAdmin {
  font-size: 60%;
  opacity: .6;
  margin-right: 8px;
  margin-top: -8px;
  border: solid 1px;
  padding: 4px;
}

//
// Edit navbar color if logged or not
header nav {
  &.login {
    background-color: color("cyan", "darken-4");
  }
  &.logout {
    background-color: color("cyan", "darken-3");
  }
} 

//
// Add color backgrounds to toasts
.toast {
  &.error {
    background-color: $error-color;
  }
  &.success {
    background-color: $success-color;
  }
}

//
// Edit cards colour (because body color edited)
.card {
  color: color("blue-grey", "darken-4");;
}

//
// Add manually border bottom to nav Tab
// (because of external links)
.tabs.tabs-transparent .tab a {
  &.active {
    border-bottom: solid 2px;
  }
}

// Improve bad displaying on pagination
.pagination {
  li {
    &.active {
      a:hover {
        opacity: .5;
      }
    }
  
    a{
      color: white;
      opacity: .5;  
  
      &:hover {
        opacity: 1;
      }
    }
  
    &.disabled a i {
      opacity: .25;
      cursor: not-allowed;
    }
  }
}


// Post detail style
.postDetail- {
  &card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: color("blue-grey", "lighten-1");

    .card-action {
      border-bottom: 1px solid rgba(160, 160, 160, 0.2);
      display: flex;
      justify-content: flex-end;
      padding: 12px 24px 12px 32px;
      align-items: center;
    }
  }
  
  &title {
    color: $primary-color-light;
    margin: 0 auto 8px 0;
  }

  &amount {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  }

  &date {
    font-size: 80%;
    color: color("blue-grey", "lighten-1");
  }

  &baseInfo {
    background-color: rgba(160, 160, 160, 0.1);;
    color: $off-black;
    padding: 24px 16px;
    font-size: 14px;
    margin-bottom: 16px;
  }

  &imageColumn.col {
    padding: 8px 64px 24px;

    img {
      margin: 0 auto;
    }
  }

}

.stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.separator {
  height: 100%;
  width: 10px;
  border-bottom: solid 1px rgba($primary-color-light, .2);;
}

.stats {
  strong {
    font-size: 40px;
    color: white;
  }
  p {
    margin: -8px 0 0 0;
    font-weight: 200;
  }
}

.graph {
  margin-top: 64px;
}


#map {
  border: solid 1px;
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}